<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<!--Shared Styles-->

<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/webjars/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="/webjars/datatables/css/jquery.dataTables.min.css">
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="/css/main.css">

</body>
</html>