<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="padded-chart">
        <h2>All Characters</h2>
        <canvas id="allCharacterChart"></canvas>
    </div>
    <div class="padded-chart">
        <h2>Uppercase Characters</h2>
        <canvas id="upperCharacterChart"></canvas>
    </div>
    <div class="padded-chart">
        <h2>Lowercase Characters</h2>
        <canvas id="lowerCharacterChart"></canvas>
    </div>
    <div class="padded-chart">
        <h2>Other Characters</h2>
        <canvas id="punctuationCharCtx"></canvas>
    </div>
    <div class="padded-chart">
        <h2>Labels By User</h2>
        <canvas id="byUserCtx"></canvas>
    </div>
    <div class="padded-body">
        <div>
            <div><b>Other Statistics</b></div>
            <div id="totalLabels">Total Labels Collected: </div>
            <div id="totalEdited">Total Pages Edited: </div>
            <div id="totalCompleted">Total Pages Marked Completed:</div>
            <div id="generatedTime">Report Generated: </div>
        </div>
    </div>
</div>
</body>
</html>