.nbs-container {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.height75 {
    min-height: 75vh;
}

.title {
    font-family: 'Roboto', serif;
    font-size: 36px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.body {
    font-family: 'Roboto', serif;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.labelText {
    font-family: 'Roboto', serif;
    font-size: 20px;
    text-align: center;
}

.nbs-button {
    border-radius: 5px;
    font-family: 'Roboto', serif;
    font-size: 20px;
    color: #ffffff;
    background: #d9345a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nbs-button-sm {
    border-radius: 5px;
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: #ffffff;
    background: #d9345a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.padded-chart {
    padding-top: 25px;
    text-align: center;
}

.padded-body {
    padding-top: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.prediction-container {
    width: 15%;
    min-width: 90px;
    padding: 10px 15px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 3;
}

.alert-prediction {
    min-width: 120px;
}
#mainCanvas {
    z-index: 1;
}

#drawingCanvas {
    z-index: 2;
}
.stacked-parent {
    display: grid;
    align-items: center;
    justify-items: center;
}
.stacked-child {
    grid-column: 1;
    grid-row: 1;
}


