<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LC Document Capture</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo:wght@500;700&display=swap" >

</head>
<body>
    <div th:insert="fragments/full-screen-load.html :: div"></div>

    <div id="main-content-container" class="hidden">
    <div class="nbs-container">
        <h1 class="nbs-title">LC Document Tool</h1>
        <p class="body">Click and drag a bounding box over the letter you are trying to capture. <br> The tool will try to predict the correct label - correct it by pressing a key on the keyboard. <br> The tool will not automatically save, so be sure to save your work before leaving the page. <br> <a href="/shortcuts">Shortcuts</a> &nbsp &nbsp &nbsp<a href="/help">Help Section</a></p>
        <div th:insert="fragments/demo-warning.html :: div"></div>
    </div>

    <div class="nbs-container" align="center">
        <div style="display: inline-block"> <button class = "nbs-button" id = "close" type="button">Close</button> </div>
    </div>

    <div class="nbs-container" align="center">
        <div style="display: inline-block"> <button class = "nbs-button" id = "undo" type="button">Undo</button> </div>
        <div style="display: inline-block"> <button class = "nbs-button" id = "redo" type="button">Redo</button> </div>
    </div>

    <div class="nbs-container" align="center">
        <div style="display: inline-block"> <button class = "nbs-button" id = "letterCap" type="button">Letter Capture Mode</button> </div>
        <div style="display: inline-block"> <button class = "nbs-button" id = "wordCap" type="button">Word Capture Mode</button> </div>
        <div style="display: inline-block"> <button class = "nbs-button" id = "lineCap" type="button">Line Capture Mode</button> </div>
        <div style="display: inline-block"> <button class = "nbs-button" id = "eraser" type="button">Eraser</button> </div>
    </div>
    <div class="nbs-container">
        <p id="captureMode" class="body"> </p>
    </div>
    <span hidden id="imageId" th:text="${imageId}"></span>
    <div class="nbs-container">
    <div class = "nbs-container stacked-parent">
        <canvas id="mainCanvas" class="stacked-child"></canvas>
        <canvas id="drawingCanvas" class="stacked-child"></canvas>
    </div>
    </div>
    <img id="renderedCrop" src="" hidden/>
    <div class="prediction-container">
        <div class="alert alert-danger alert-prediction labelText hidden">
            <canvas id="cropCanvas" class="nbs-container"></canvas>
            <div id="prediction">Prediction:</div>
        </div>
    </div>
    <div class="nbs-container" align="center">
        <input type="checkbox" id="completed" name="completed" value="Completed">
        <label for="completed">Mark As Completed</label><br>
    </div>
    <div class="nbs-container" align="center">
        <input type="checkbox" id="enableTransparency" name="enableTransparency">
        <label for="enableTransparency">Enable Rectangle Translucency</label><br>
    </div>
    <input type="text" class="hidden-mobile-input">
    <div class="nbs-container" align="center">
        <input type="checkbox" id="enablePredictions" name="enablePredictions">
        <label for="enablePredictions">Enable Prediction & Autofill</label><br>
    </div>
    <div class="container w-25" align="center">
        <label for="fontSlider">Font Size</label>
        <input type="range" min="12" max="68" value="40" class="slider" id="fontSlider">
    </div>
    <div class="container w-25 padded-body">
        <label for="notes">Notes:</label>
        <textarea class="form-control text-entry" id="notes" rows="3"></textarea>
    </div>
    <div class="nbs-container">
        <p id="saveText" class="body hidden"> </p>
    </div>
    <button class = "nbs-button" id = "save" type="button">Save</button>
    <button class = "nbs-button" id = "download" type="button">Download Job Info</button>
    <script src="/webjars/github-com-jaywcjlove-hotkeys/hotkeys.min.js"></script>

    <!--<script src="https://cdn.jsdelivr.net/npm/hotkeys-js@3.7.3/dist/hotkeys.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.3.0/dist/tf.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/geometry.js"></script>
    <script src="/js/canvas.js"></script>
    </div>
</body>
</html>