<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LC Document Tool</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

</head>
<body>
<nav th:insert="fragments/navbar.html :: nav"></nav>
<div class="container">
    <h1 class="nbs-title">Bulk Export Crops</h1>
    <div class = "nbs-container" align="center">
        <p>Use the button below to bulk export crops to your output directory: </p>
        <b th:text="${path}"></b>
        <button id="exportBtn" class="nbs-button-sm">Export</button>
    </div>
    <div class="padded-body">
        <div id="exportMsg" class = "alert alert-success hidden">
            Message
        </div>
    </div>
</div>


<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/export.js"></script>
</body>
</html>