<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>LC Capture Tool Help</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>LC Capture Tool Help</h1>
    <h2>Close Button</h2>
    <p>The Close Button will close the current document and return you to the main file listing. Please be aware that the application does not automatically save your session.</p>
    <h2>Undo/Redo</h2>
    <p>The Undo button will remove features in the order that they were added. The redo button will roll back undoes, but after you make a new change to the document, the redo history is cleared. Note that all 3 capture modes have separate undo/redo history.</p>
    <h2>Capture Modes</h2>
    <p>All of these modes will reject your capture if it looks erroneous (i.e., smaller than 10px)</p>
    <h3>Letter Capture Mode</h3>
    <p>This mode lets you capture one letter at a time. Click and drag to draw a bounding box around the character you are trying to capture. After drawing the bounding box, press a keyboard key to label the letter. You cannot capture new letters before labeling the current letter.</p>
    <p>You cannot switch to a different mode if you have an unlabeled letter. This will also prevent you from saving.</p>
    <h3>Word Capture Mode</h3>
    <p>This is an experimental mode to capture words. Draw a line through all the letter bounding boxes to make a word. You do not need to label these.</p>
    <h3>Line Capture Mode</h3>
    <p>This is an experimental mode to capture lines. Draw a line through all the letter bounding boxes in a line to make a line. You do not need to label these.</p>
    <h2>Mark As Completed</h2>
    <p>Use this to mark a capture job as completed.</p>
    <h2>Save</h2>
    <p>This button sends your capture data to the backend, where it will be cropped and the capture data saved. You should make sure the crops look correctly at first, to make sure things are working as expected on your machine/browser combination. Check the logs for errors.</p>
    <p>You can't have unlabeled letters when saving. Additionally, your work is not saved automatically. If you leave the page without saving, you will lose your work.</p>
    <p>If you accidentally shutdown your backend, you can just reboot it and it should be able to process the capture data again. You can also use the Download Job Info button to manually save a backup copy of the JSON.</p>
    <h2>Download Job Info</h2>
    <p>Use this to manually download the JSON capture data. If something is going wrong with the backend and you don't want to lose your work, save this as diagnostic information. Likely if you send me the JSON and image file (jjb@uconn.edu), I can figure out and fix what is causing the problem.</p>
</div>

</body>
</html>