<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LC Capture Tool</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:insert="fragments/shared-styles.html" th:remove="tag"></div>

</head>
<body>

<nav th:insert="fragments/navbar.html :: nav"></nav>
<div th:insert="fragments/demo-warning.html :: div"></div>
<div th:insert="fragments/full-screen-load.html :: div"></div>

<div id="main-content-container" class="container hidden">

    <div th:if="${maintenance}" class="padded-body">
        <div class="alert alert-warning">
            [(${maintenance})]
        </div>
    </div>

    <h1 class="nbs-title">
        LC Capture Tool Home
    </h1>

    <div th:if="${releaseNotes}" id="releaseNotes" class="padded-body-left">
        <div class="alert alert-secondary">
            <a id="dismissReleaseNotes" th:href="${'/user/dismiss/release?dismissUpTo=' + releaseNotesDismiss}" class="float-right">X</a>

            Hi <div th:text="${session.user.firebaseName}" th:remove="tag"></div>! There's been some changes since you last logged in:

            <div th:each="note : ${releaseNotes}">
                <br/>
                [(${note.text})]
            </div>
            <br/>
        </div>
    </div>
    <p class = "body"><a href="/bulkOutput/latest">Download Complete Dataset</a></p>
    <button class="nbs-button" id="loginButton">Login</button>
    <div th:insert="fragments/statistics.html :: div"></div>
    <div class="pt-1 footer-tag">
        <a href="/license">View Licenses</a>
        <div th:text="${'Application Version: ' + version}"></div>
    </div>
</div>


<div th:insert="fragments/shared-scripts.html" th:remove="tag"></div>

<script src="/webjars/chartjs/Chart.min.js"></script>
<script type="module" src="/js/home/main.js"></script>
</body>
</html>