<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Lyrasis Capture File Listing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>

<nav th:insert="fragments/navbar.html :: nav"></nav>
<div th:insert="fragments/demo-warning.html :: div"></div>
<div class="container">
    <h1 class = "nbs-title" align="center">LC Capture Tool</h1>
    <p class = "body" align="center">Select the image you would like to capture data from, and click the URL to open.</p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col">Image Name</th>
                <th scope="col">File Last Modified</th>
                <th scope="col">Status</th>
                <th scope="col">Notes</th>
                <th scope="col">URL</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="listing : ${imageJobListings}">
                <td th:text="${listing.fileName}"></td>
                <td th:text="${listing.dateAdded}"></td>
                <td th:text="${listing.status}"></td>
                <td th:text="${listing.notes}"></td>
                <td> <a th:href="${listing.url}">Open</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
</body>
</html>