<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>LC Capture Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:insert="fragments/shared-styles.html" th:remove="tag"></div>
</head>
<body>

<div th:insert="fragments/modal-overlay.html :: div"></div>
<nav th:insert="fragments/navbar.html :: nav"></nav>
<div th:insert="fragments/full-screen-load.html :: div"></div>
<div th:insert="fragments/demo-warning.html :: div"></div>
<div th:insert="fragments/notifications.html :: div"></div>

<div class="container hidden" id="main-content-container">

    <div th:if="${maintenance}" class="padded-body">
        <div class="alert alert-warning">
            [(${maintenance})]
        </div>
    </div>

    <h1 class = "nbs-title" align="center">LC Capture Tool</h1>
    <p class = "body" align="center">Select the image you would like to capture data from, and click its name to open.</p>

    <div th:if="${!listingAll and !listingShared}">
        <p class = "body" align="center">Drag an image on to the window to upload it.</p>
        <form id="imageUpload" method="POST" class="hidden" th:action="@{/secure/image/upload}" enctype="multipart/form-data">
            <div class="nbs-container" align="center">
            <input id="fileUploadInput" type="file" name="file" />
            <input type="submit" value="Submit" />
            </div>
        </form>
        <div class="d-flex justify-content-end">
            <div>
                <button id="upload" class="nbs-button-compact">
                    <i class="bi bi-cloud-upload"></i> &nbsp;Upload
                </button>
            </div>
        </div>
    </div>

    <div th:if="${listingShared}">
        <p class = "body" align="center">Showing all documents you own or that were shared with you.</p>
    </div>

    <div class="table pt-3">
        <table class="table table-striped" id="jobListing">
            <thead class="thead-light">
            <tr>
                <th scope="col">Image Name</th>
                <th scope="col" th:if="${listingAll or listingShared}">Owner</th>
                <th scope="col">File Last Modified</th>
                <th scope="col">Status</th>
                <th scope="col">Notes</th>
                <th scope="col" th:if="${!listingAll and !listingShared}">Share</th>
                <th scope="col" th:if="${!listingAll and !listingShared}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="listing : ${imageJobListings}">
                <td> <a th:href="${listing.openUrl}">
                    <div th:text="${listing.fileName}"></div></a>
                </td>
                <td th:if="${listingAll or listingShared}">
                    <div th:text="${listing.owner}"></div>
                </td>
                <td th:text="${listing.dateAdded}"></td>
                <td th:text="${listing.status}"></td>
                <td th:text="${listing.notes}"></td>
                <td th:if="${!listingAll and !listingShared}">
                    <a th:href="${listing.projectLevelEditingToggleUrl}">
                        <div th:text="${listing.projectLevelEditing ? 'Unshare' : 'Share'}"></div>
                    </a>
                </td>
                <td th:if="${!listingAll and !listingShared}"><a class="confirm-delete" th:href="${listing.deleteUrl}"><i class="bi bi-trash"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:insert="fragments/shared-scripts.html" th:remove="tag"></div>

<script src="/webjars/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="/webjars/datatables/js/jquery.dataTables.min.js"></script>
<script src="/js/listing/main.js"></script>
</body>
</html>