<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>LC Capture Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:insert="fragments/shared-styles.html" th:remove="tag"></div>
</head>
<body>


<div th:insert="fragments/notifications.html :: div"></div>

<div class="d-flex align-items-center justify-content-center min-vh-100">
    <div>
    <div class="nbs-title">Sign in with Google</div>
    <div class="body">Users without an @uconn.edu email will require an invitation.</div>
    <div id="signIn"></div>
    </div>
</div>

<div th:insert="fragments/shared-scripts.html" th:remove="tag"></div>

<script src="/js/login/main.js"></script>

</body>
</html>