<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>LC Capture Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:insert="fragments/shared-styles.html" th:remove="tag"></div>
</head>
<body>


<nav th:insert="fragments/navbar.html :: nav"></nav>

<div class="d-flex align-items-center justify-content-center min-vh-100">
    <div>
    <div class="nbs-title">Logged Out</div>
    </div>
</div>

<div th:insert="fragments/shared-scripts.html" th:remove="tag"></div>

<script src="/js/logout/main.js"></script>

</body>
</html>