<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LC Document Tool</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Listing</a>
                </li>
                <li>
                    <a href="/statistics">Statistics</a>
                </li>
                <li>
                    <a href="/export">Export</a>
                </li>
                <li class="active">
                    <a href="#">Migrate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class = "nbs-container" align="center">
        <h1 class="nbs-title">Migrate To Cloud</h1>
        <p>Use the button below to migrate your local capture data to the cloud. This may take some time.</p>
        <p>This will erase all previously migrated data!</p>
        <button id="migrateBtn" class="nbs-button-sm">Migrate</button>
    </div>
    <div class="padded-body">
        <div id="migrateMsg" class = "alert alert-success" hidden>
            Message
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>

<script src="/js/migrate.js"></script>
</body>
</html>