<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>LC Capture Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/datatables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />

</head>
<body>


<div th:insert="fragments/notifications.html :: div"></div>

<div class="d-flex align-items-center justify-content-center min-vh-100">
    <div>
    <div class="nbs-title">Not Authorized</div>
    <div class="body">Login with Google succeeded, but you're not authorized to use the application.</div>
    <div class="body">Please contact an existing user, and request that they invite you to the application.</div>
    </div>
</div>

<div th:insert="fragments/shared-scripts.html" th:remove="tag"></div>

</body>
</html>