<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>LC Capture Tool Help</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1 class = "nbs-title" align="center">LC Capture Tool Shortcuts</h1>
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Mac</th>
            <th scope="col">Windows</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Undo</td>
            <td>⌘ + Z or [ (left bracket)</td>
            <td>Ctrl + Z or [ (left bracket)</td>
        </tr>
        <tr>
            <td>Redo</td>
            <td>⌘ + Y or ] (left bracket) or ⌘+Shift+Z</td>
            <td>Ctrl + Y or ] (left bracket) or Ctrl+Shift+Z</td>
        </tr>
        <tr>
            <td>Letter Capture Mode</td>
            <td>⌘ + L</td>
            <td>Ctrl + L</td>
        </tr>
        <tr>
            <td>Eraser Mode</td>
            <td>⌘ + E</td>
            <td>Ctrl + E</td>
        </tr>
        <tr>
            <td>Toggle Hide Character Rectangles</td>
            <td>⌘ + Shift + . (period)</td>
            <td>Ctrl + Shift + . (period)</td>
        </tr>
        <tr>
            <td>Save (Still use the button before leaving the page)</td>
            <td>⌘ + S</td>
            <td>Ctrl + S</td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>