<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LC Document Tool</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

</head>
<body>
<nav th:insert="fragments/navbar.html :: nav"></nav>
<div class="container">
    <h1 class="nbs-title">LC Document Tool Statistics</h1>
    <div class="padded-chart">
        <h2>All Characters</h2>
        <canvas id="allCharacterChart"></canvas>
    </div>
    <div class="padded-chart">
        <h2>Uppercase Characters</h2>
        <canvas id="upperCharacterChart"></canvas>
    </div>
    <div class="padded-chart">
        <h2>Lowercase Characters</h2>
        <canvas id="lowerCharacterChart"></canvas>
    </div>
    <div class="padded-chart">
        <h2>Other Characters</h2>
        <canvas id="punctuationCharCtx"></canvas>
    </div>
    <div class="padded-body">
        <ul style="list-style-type:none;">
            <li><b>Other Statistics</b></li>
            <li id="totalLabels">Total Labels Collected: </li>
            <li id="totalEdited">Total Pages Edited: </li>
            <li id="totalCompleted">Total Pages Marked Completed:</li>
            <li id="generatedTime">Report Generated: </li>
        </ul>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<script src="/webjars/chartjs/Chart.min.js"></script>
<script src="/js/statistics.js"></script>
</body>
</html>